*{
	margin: 0px;
	padding: 0px;
}
body{
	background:#dddddd;
}
a{
	text-decoration: none;
	color: #666;
}
input,img{
	border: 0px;
}
.login{
	width: 490px;
	height: 320px;
	background: url(../images/bag-login.png) center right no-repeat;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -245px;
	margin-top: -160px;
}
.login .title{
	background: url(../images/img-tile.png) center right no-repeat;
	width: 255px;
	height: 63px;
	margin-left: -10px;
	margin-top: 15px;
}
.login .box-login{
	margin: 15px 10px 10px;
	padding:10px 0px; 
	overflow: hidden;
}
.login form .lev{
	margin-bottom: 5px;
	height: 50px;
}
.login form .lev-1{
	margin-bottom: 5px;
	height: auto !important;
}
.login form .lev span{
	width: 114px;
	height: 26px;
	display: block;
	font-size:17px;
	font-family:Calibri;
	color:#fff;
	float: left;
	text-align: center;
}
input:focus{
	background: #f0efda;
}
input{
	width:319px;
	height:16px;
	border: 1px solid #dddddd;
	padding: 5px;
}
.login form .lev label {
	margin-top: -5px;
	cursor: pointer;
}
.login form .lev .msg-err{
	font-size: 13px;
	color: #fbe154;
	font-style: italic;
	margin-left: 114px;
	font-family: Tahoma;
	margin-top: 5px;
}
.login form .lev-1 label .check{
	margin-left: 340px;
	width: auto;
	float: left;
}
.login form .lev-1 label p{
	display: inline-block;
	font-size: 14px;
	color: #b1a997;
	float: left;
	font-family: Calibri;
	margin-left: 5px;
	margin-top: -1px;
}
.login form .lev-1 .submit{
	background: url(../images/bag-submit-login.png) center no-repeat;
	height: 26px;
	width:97px !important;
	padding: 0px 10px 3px;
	border: 0px;
	margin-left: 120px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	margin-top: 5px;
}











